html {
	font-size: 20px;
	background-color: #bff2d9;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #8f8fff;
	padding: 0 40px 40px 40px;
	border: 3px solid blue;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #8f52e0;
	text-shadow: 3px 3px 1px black;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #ff3385;
}

img {
	display: block;
	margin: 0 auto;
}

p, li {
	font-size: 15px;
	line-height: 2;
	letter-spacing: 1px;
}